spring:
  application:
    name: rest-api-project

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.example.demo: DEBUG
    org.springframework.web: DEBUG
