spring:
  application:
    name: rest-api-project

  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

logging:
  level:
    root: ${LOG_LEVEL:-INFO}
    com.example.demo: ${LOG_LEVEL:-DEBUG}
    org.springframework.web: ${LOG_LEVEL:-DEBUG}
