version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: audit-trace-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-docker}
      - LOG_LEVEL=${LOG_LEVEL:-DEBUG}
      - DEBUG=${DEBUG:-True}
    restart: unless-stopped
