spring:
  application:
    name: eureka-server

server:
  port: 8761

# Configuración de Eureka Server
eureka:
  instance:
    hostname: localhost
  client:
    # El servidor no necesita registrarse a sí mismo
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
