DEBUG=True
LOG_LEVEL=DEBUG
SPRING_PROFILES_ACTIVE=docker
SPRING_CONFIG_LOCATION=classpath:/application-docker.yml

# DATABASE
POSTGRES_DB=security_db
POSTGRES_USER=sec_user
POSTGRES_PASSWORD=7H3-$3CR37
